body, html {
    font-size: 30px;
    font-weight: 400;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: linear-gradient(to bottom, #ffffff, #c39696);
}

* {
    box-sizing: border-box;
}

.expenses__title {
    padding: 15px;
    text-transform: uppercase;
}

.expenses {
    max-width: 1010px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 26px 22px;
}

.expenses__input {
    width: 484px;
}

.expenses__input-wrapper {
    margin-bottom: 18px;
    padding: 8px 17px;
    height: 56px;
    border: 1px solid #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.moneyInput__input {
    font-size: 30px;
    border: 0;
    outline: none;
    background: transparent;
}

.rub::after {
    content: " руб.";
    color: #333;
    align-self: center;
}

.expenses__category {
    width: 100%;
    padding: 10px 17px;
    font-size: 30px;
     padding-right: 10px;
     background-color: rgba(255, 255, 255, 0.1);
    background-image: url('../images/arrow.png'); 
    background-repeat: no-repeat;
    background-position: right 14px center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.add-button {
    width: 370px;
    vertical-align: top;
    font-size: inherit;
    padding: 10px;
    height: 56px;
    background-color: #0577e2;
    color: aliceblue;
    border: none;
    opacity: 1;
    transition: opacity .1s linear;
}



.expenses__stats {
    width: 484px;
}

.stats__name {
    font-weight: bold;

}

.stats__item-limit {
    margin-bottom: 13px;
}

.stats__item-total {
    margin-bottom: 35px;
}

.stats__status {
    color: rgb(8, 174, 55);
}

.expenses__history {
    padding-top: 4px;
}

.expenses__history-title {
    margin-bottom: 21px;
}

.expenses__history-empty-message {
    font-style: italic;
    opacity: .8;
}

.expenses__history-list {
    display: none;
    width: 500px;
    list-style-position: inside;
}

.expenses__history-item {
    margin-bottom: 5px;
}

.expenses__reset-button {
    margin-top: 55px;
    width: 484px;
    padding: 9px 0;
    font-size: inherit;
    border: none;
    color: aliceblue;
    background-color: #FF0000;
    opacity: 1;
    transition: opacity .1s linear;
}

.expenses__reset-button:hover {
    opacity: 0.6;
}

.status-red {
    color: #FF0000;
}

.status-green {
    color: rgb(8, 174, 55);
}

.error-text {
    font-size: 16px;
    color: red;
}

.validation-wrapper {
    height: 16px;
}

.edit-button {
    display: inline-block; 
    vertical-align: bottom;
    background-color: transparent;
    border: none;
    padding: 0;
}

.edit-image {
    width: 40px;
    height: 40px;
}


/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    visibility: hidden;
}

.open {
    opacity: 1;
    visibility: visible;
}

.modal__box {
    width: 991px;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 47px;
    background-color: #fff;
    gap: 0 28px;
}

.modal__close-button {
    position: absolute;
    top: 39px;
    right: 34px;
    z-index: 1;
    background-color: transparent;
    border: none;
}

.modal-button {
    width: 370px;
    vertical-align: top;
    font-size: inherit;
    padding: 10px;
    height: 56px;
    background-color: #0577e2;
    color: aliceblue;
    border: none;
    opacity: 1;
    transition: opacity .1s linear;
}

.modal-button:hover {
    opacity: 0.7;
}

.modal__box .expenses__input-wrapper {
    margin-bottom: 0;
}


/* adaptation */
@media (max-width: 991px) {
    .modal__box {
        width: 689px;
        height: 400px;
        padding: 25px;
        gap: 0 15px;
    }

    .modal-input {
        width: 250px;
    }

    .modal__input {
       margin: 0 !important; 
    }
}

@media (max-width: 906px) {
    body {
        height: 90vh;
    }
    .expenses {
        gap: 16px 22px;
    }
    .validation-wrapper {
        height: 100%;
    }
    .expenses__title {
        text-align: center;
        margin-bottom: 12px;
    }
    .expenses__input,
    .add-button {
        margin: 0 auto 8px;
    }
    .add-button {
        text-align: center;
    }
}

@media (max-width: 786px) {
    body {
        height: 105vh;
        font-size: 24px;
        padding: 0 10px;
    }
    .moneyInput__input {
        font-size: 24px;
        max-width: 100%;
    }
    .expenses__category {
        font-size: 24px;
    } 
    .expenses__input {
        width: 100%;
    }
    .add-button {
        height: 48px;
        width: 100%;
    }
    .expenses__stats {
        width: 100%;
    }
    .expenses__reset-button {
        margin-top: 30px;
        width: 100%;
    }
    .stats__item-total {
        margin-bottom: 25px;
    }
}

@media (max-width: 786px) {
    .modal__box {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        gap: 22px 0;
        padding: 40px;
    }

    .modal__input {
        width: 100%;
    }

    .modal-button {
        width: 100%;
    }

    .modal__close-button {
        width: 41px;
        height: 29px;
    }

    .modal__close-img {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 400px) {
    body {
        height: 100vh;
    }
    main {
        max-width: 100%;
        overflow: hidden;
    }
    .expenses__input-wrapper {
        padding: 8px 3px;
    }
    .moneyInput__input {
        max-width: 80%;
    }
    .expenses__category {
        padding: 10px 5px;
    }
    .edit-image {
        width: 30px;
        height: 30px;
    }
    
}